section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.adminKartya {
    display: inline-block;
    text-align: center;
}

p {
    text-align: left;
}

a{
    color: antiquewhite;
    text-decoration: none;
}

.admin{
    margin: auto;
}

