.kisKepek .TermekKep {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
}

.nagyKep .TermekKep {
    width: 100%;
    max-width: 450px;
    max-height: 450px;
    overflow: hidden;
}

.termekOldal {
    background-color: lightblue;
}