.kisKepek  {

    max-width: 170px;
    max-height: 100px;
    overflow: hidden;
}

.nagyKep .TermekKep {
    width: 100%;
    max-width: 450px;
    max-height: 450px;
}

.termekOldal {
    background-color: lightblue;
}

.kepGaleria {
    gap: 5px;
}

/* div {
    border: 1px solid black;
} */